body{
    background-color: hsl(0, 0%, 10%);
}

.to-do-list{
    font-family: Arail, sans-serif;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 100px;
}
h1{
    font-size: 2.5rem;
    color: white;
}
button{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 12px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor:  pointer;
    transition: background-color 0.5 ease;
}
.add-button{
    background-color: hsl(125, 47%, 54%);
}
.add-button:hover{
    background-color: hsl(125, 47%, 44%);
}
.delete-button{
    background-color: hsl(10, 90%, 50%);
}
.delete-button:hover{
    background-color: hsl(10, 90%, 40%);
}
.move-button{
    background-color: hsl(205, 59%, 83%);
}
.move-button:hover{
    background-color: hsl(205, 59%, 73%);
}
input[type="text"]{
    font-size: 1.2rem;
    padding: 10px;
    margin-right: 2px;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
    color: hsl(0, 0%, 0.5%);
}
ol{
    padding: 0; /* Remove list spacing and numbers*/
}
li{
    font-size: 1.4rem;
    font-weight: bold;
    padding: 5px;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 10px;
    border: 3px solid hsl(0, 0%, 85%, 0.75);
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.text{
    flex: 1; /*text take much space when shrinking the window*/
}
.delete-button, .move-button{
    padding: 8px 12px;
    font-size: 1.2rem;
    margin-left: 10px;
}
